[data-theme="light"] {
  --background: #f2f2f2;
  --mainColor: #e710ab;
  --secondColor: #2a95ed;
  --gradient: linear-gradient(#e710ab, #2a95ed);
  --text: #3d3d3d;
  --heroBackground: linear-gradient(
    0deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(242, 242, 242, 0.7) 25%,
    rgba(242, 242, 242, 0.7) 35%
  );
}

[data-theme="dark"] {
  --background: #191919;
  --mainColor: #e710ab;
  --secondColor: #2a95ed;
  --gradient: linear-gradient(#e710ab, #2a95ed);
  --text: #d2d2d2;
  --heroBackground: linear-gradient(
    0deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(25, 25, 25, 0.7) 10%,
    rgba(25, 25, 25, 0.7) 25%
  );
}
