[data-theme="light"] {
  --mainColor: #e710ab;
  --secondColor: #2a95ed;
  --gradient: linear-gradient(#e710ab, #2a95ed);
  --text: #3d3d3d;
  --background: #f2f2f2;
  --backgroundOpacity: rgba(242, 242, 242, 0.7);
  --cardBackground: #fff;
  --hoverCard: rgba(242, 242, 242, 0.5);
}

[data-theme="dark"] {
  --mainColor: #e710ab;
  --secondColor: #2a95ed;
  --gradient: linear-gradient(#e710ab, #2a95ed);
  --text: #d8d8d8;
  --background: #191919;
  --backgroundOpacity: rgba(25, 25, 25, 0.7);
  --cardBackground: #363636;
  --hoverCard: rgba(25, 25, 25, 0.5);
}
