body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  flex: 1;
  margin-top: 60px;

  section {
    width: 100%;
    padding-inline: 5vw;
  }
}
